.champIcon{
    position: relative;
    display: inline-block;
    width: 50px;
}
.champIcon::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 3px;
    left: 0;
    width: 100%;
    box-shadow: inset 0px 0px 5px 3px black;
}

.grey::after{
    box-shadow: inset 0px 0px 5px 3px rgb(61, 61, 61);
}

.green::after{
    box-shadow: inset 0px 0px 5px 3px rgb(8, 160, 59);
}

.blue::after{
    box-shadow: inset 0px 0px 5px 3px rgb(30, 27, 197);
}

.pink::after{
    box-shadow: inset 0px 0px 5px 3px rgb(202, 11, 154);
}

.gold::after{
    box-shadow: inset 0px 0px 5px 3px rgb(245, 188, 0);
}

.champIcon img{
    width: 50px;
}

.champBox{
    width: 60px;
    text-align: center;
}


.tooltipName{
    display: block;
    font-size: 16px;
    text-align: center;
    padding-bottom: 5px;
}
.tooltipItemIcon img{
    width: 25px;
}

.itemBox{
    display: inline-flex;
    justify-items: center;
}