.argumentIcon img{
    width: 30px;
}

.argumentIcon{
    background: #000000;
    display: inline-block;
    width: 30px;
    height:30px;
    border-radius: 30px;
    margin-right: 5px;
}

.tooltipName{
    display: block;
    font-size: 16px;
    text-align: center;
    padding-bottom: 5px;
}